@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea4335;
}
.card {
  position: relative;
  height: 700px;
  width: 500px;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);
}
img {
  position: relative;
  width: 100%;
  top: -70px;
}

.image {
  position: absolute;
  width: 170px;
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
  z-index: 5;
  border: 2px solid rgb(243, 243, 243);
  left: 30px;
  top: 160px;
  transition: 0.3s ease;
}

.image:hover {
  transform: scale(1.03);
}

.company-logo {
  position: absolute;
  left: 270px;
  top: 210px;
  background-color: #ea4335;
  color: white;
  width: 205px;
  padding: 10px;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(243, 243, 243);
  height: 100px;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease;
  cursor: pointer;
}
.company-logo:hover {
  transform: scale(1.03);
}
.company-logo i {
  font-size: 28px;
}

.info-section {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.info-1 {
  display: flex;
  flex-direction: column;
}
.info-1 h2 {
  font-size: 32px;
  font-weight: 800;
}
.info-1 p {
  font-weight: 600;
  font-size: 22px;
}
.info-1 span {
  font-size: 600px;
  font-size: 16px;
}
.info-2 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
}
.email,
.phone,
.website {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
i {
  font-size: 18px;
  padding: 15px;
  background: #ea4335;
  border-radius: 50%;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.info-2 i:hover {
  background-color: white;
  color: #ea4335;
  border: 2px solid #ea4335;
  transform: translateX(5px);
}
.info-2 p {
  font-weight: 700;
  font-size: 16px;
}
.info-2 span {
  font-weight: 400;
  opacity: 0.8;
}
.email-info:hover,.phone-info:hover,.website-info:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: translateX(3px);
  transition: 0.3s ease-in-out;
}
